/* Universal styles*/

html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #4c4c4c;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    border: 1px solid #f3f5f5;
}

.container {
    padding: 2rem 1.5rem;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
   
    body {
        background-color: #f3f5f5;
    }
    .container {
        padding: 0;
    }
}

/* Header styles*/


header.desktop {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    background-color: white;
}

header.desktop .logo {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

header.desktop .logo img {
    height: 3.5rem;
    display: inline-block;
    margin-left: 1.5rem;
}
header.desktop h1 {
    display: inline-block;
    text-transform: uppercase;
    color: rgb(168, 168, 168);
    font-weight: lighter;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

header.desktop h1 span {
    font-weight: 700;
    color: #4c4c4c;
}

header.desktop nav {
    margin-right: 1.5rem;
}

header.desktop nav ul li {
    display: inline-block;
    padding: 8px;
}

header.desktop nav ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #4c4c4c;
}

header.mobile {
    display: none;
}

header.mobile .image-container{
    width: 2.5rem;
    margin-top: 0.5rem;
}

header.mobile .image-container img {
    display: inline-block;
    width: 100%;
}

@media only screen and (max-width: 800px) {

    header.desktop {
        display: none;
    }

    header.mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 4rem;
        position: fixed;
        top: 0;
        width: 100%;
        background: white;
    }
}

/* Banner styles*/



.banner {
    display: flex;
    background-color: #d8d8d8;
    margin-top: 2rem;
}

.banner .image-container {
    width: 60%;
}

.banner .image-container img {
    width: 100%;
}

.banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0 1rem;
}

.banner .text h1 {
    font-size: 3rem;
    font-weight: bold;
}

.banner .text h2 {
    font-size: 2rem;
    margin: 2rem 0;
}

.banner .text button {
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    background-color: #4c4c4c;
    color: white;
    font-size: 1.5rem;
    width: 60%;
}

@media only screen and (max-width: 600px) {
    .banner {
        display: block;
        width: 100%;
        margin-top: 4rem;
        background-color: #d8d8d8;
    }
    .banner .image-container.container {
        width: 100%;
        padding: 0;
    }

    .banner .text {
        display: block;
        width: 90%;
        margin: 2rem 0 2rem 2rem;
    }
    .banner .text h1 {
        font-size: 3rem;
    }
    .banner .text button {
        width: 90%;
        margin-bottom: 2rem;
    }
}


/* Info styles*/


.info {
    display: flex;
    background-color: #f3f5f5;

}

.info .column-one {
    max-width: 60%;
    flex-direction: column;
    border-right: 2px solid #d8d8d8;
}

.info .column-one .image-container .container {
    width: 100%;
    height: auto;
}

.info .column-one .image-container img {
    width: 100%
}

.info .column-one .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.info .column-one .text h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
}

p.credit {
    font-size: 1rem;
    margin-top: 2rem;
}

.info .column-two {
    width: 40%;
    display: flex;
    flex-direction: column;  
}

.info .column-two .info-each:first-child {
    margin-top: 1rem;
}

.info .column-two .info-each:last-child {
    background-color: #d8d8d8;
}

.info .column-two .info-each {
    display: flex;
    border-bottom: 2px solid #d8d8d8;
}

.info .column-two .image-container {
    width: 35%;
}

.info .column-two .image-container.container {
   padding: 1rem;
}
.info .column-two .image-container img {
    width: 100%;
}

.info .column-two .info-each .text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info .column-two .info-each .text h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.info .column-two .info-each .text a {
    display: block;
    margin-top: 0.5rem;
    text-decoration: none;
    color: #4e90df;
}

@media only screen and (max-width: 600px) {
    
    .info .column-one{
        display: none;
    }
    .info .column-two {
        width: 100%;
        margin-top: -2rem;
    }
    .info .column-two .info-each {
        display: block;
        border-bottom: none;
    }
    .info .column-two .image-container {
        width: 90%;
        margin: 0 auto;
    }
    .info .column-two .image-container img {
        width: 100%;
        }
    }
    .info .column-two .info-each .text {
        width: 90%;
        margin: 2rem;
    }

.info .column-two .info-each:last-child {
    background-color: #f3f5f5;
}

/* Courses styles*/

.courses .courses-mobile {
    display: none;
}

.courses {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #eaebec;
    justify-content: center;
}

.courses h1 {
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: bold;
}

.course-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 4.5rem;
    overflow: hidden;
}

.course {
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow: scroll;
    margin: 1rem;
}

.course:hover {
    opacity: 0.6;
}

.course .image-container img {
    display: block;
    width: 100%;
}

.course .text {
    background-color: white;
    padding: 1.5rem;
    height: 10rem;
}

.course .text h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.course .text p {
    margin: 0.5rem 0;
    color: #8f8f8f;
    font-weight: lighter;
}

@media only screen and (max-width: 600px) {
    .courses {
        background-color: #f5f4f5;
        border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
    }
    
    .courses .course-container {
        display: none;
    }
    
    .courses .courses-mobile {
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f5f4f5;
        width: 90%;
    }
    .courses .courses-mobile h2 {
        font-size: 2rem;
        padding: 2rem;
        background-color: #d8d8d8;
        margin: 0.5rem 1rem;
        font-weight: bold;
    }
}


.thesis .thesis-mobile {
    display: none;
}

.thesis {
    background-color: #f3f5f5;
}

.column-container {
    display: flex;
}

.thesis h1 {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
}

.thesis .text h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.thesis .column-one {
    display: flex;
    flex-direction: column;
    width: 60%;
}

video {
    width: 100%;
}

.thesis .column-two {
    width: 40%;
    display: flex;
    flex-direction: column; 
}

.thesis .column-two .image-container {
    width: 35%;
}
.thesis .column-two .image-container img {
    width: 100%;
}

.thesis .info-each {
    display: flex;
}

.thesis .info-each:first-child {
    background-color: #d8d8d8;
    margin-top: 2rem;
}

.thesis .column-two .info-each .text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .thesis .column-container {
        display: none;
    }
    .thesis .thesis-mobile {
        display: block;
        margin-top: 2rem;
    }
}

/* Footer styles*/


footer {
    width: 100%;
    height: 4rem;
    display: flex;
    font-size: 1rem;
    padding-top: 1rem;
    background-color: #f3f5f5;
    border-top: 1px solid #d8d8d8;
}

footer p {
    font-size: 1rem;
    font-weight: 400;
}

footer ul {
    margin-right: 1.5rem;
}

footer ul li {
    display: inline-block;
    padding: 0 0.5rem;
}

footer a {
    text-decoration: none;
    color: #4c4c4c;
}
.copyright {
    flex-grow: 1;
    margin-left: 1.5rem;
}

@media only screen and (max-width: 600px) {
    footer ul {
        display: none;
    }

    footer .copyright {
        margin-top: 1.5rem;
        margin-left: 1.5rem;
    }
}